celery==4.4.0
django<3.1
djangorestframework==3.11.2
django-environ==0.4.4
dumblock==0.1
pytest==5.3.5
pytest-django==3.8.0
pytest-env==0.6.2
pytest-pythonpath==0.7.2
pytest-cov==2.5.1
redis==2.10.6
requests==2.22.0
requests-toolbelt==0.8.0
responses==0.10.9
urllib3==1.26.5

#raven==6.5.0
model_mommy==1.5.1
ipdb==0.10.3
git+https://github.com/Fak3/mockredis
